.registration {
    max-width: 320px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: sans-serif;
    font-weight: 700;   
  font-size: 24px;    
  }
  
  .registration-form input {
    width: 100%;
    padding: 10px;
    border-radius: 6px;
    border: none;
    background-color: #f5f5f5;
    color: black;
    margin-bottom: 12px;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .registration-form button {
    background-color: #f5f5f5;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: 700;      
    font-size: 16px;  
  }
  
